<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <body style="margin: 6.625rem 0px 0px;">
    <table cellspacing="0" cellpadding="0" style="background-color: rgb(16, 93, 145); width: 700px; padding: 16px; margin: auto;">
      <tr>
        <td id="template-header">
          <!--START HEADER CONTENT AREA-->
          <table id="template-header" data-template-header="" data-v-06f94ef9="" style="table-layout: fixed; height: 80px; width: 100%; padding: 16px; background-color: rgb(16, 93, 145); color: rgb(252, 252, 252);">
            <tbody data-v-06f94ef9="">
              <tr data-v-06f94ef9="">
                <td data-v-06f94ef9="" style="text-align: left;">
                  <!--v-if-->
                </td>
                <td data-v-06f94ef9="" style="text-align: right; font-weight: 700; font-size: 12px;"> View in Browser </td>
              </tr>
            </tbody>
          </table>
          <!--END HEADER CONTENT AREA-->
        </td>
      </tr>
      <tr>
        <td id="template-main" style="background-color: rgb(255, 255, 255); text-align: left; padding: 16px;">
          <!--START MAIN CONTENT AREA-->
          <div contenteditable="false" data-block-element-type-id="1">
            <table style="background: transparent; width: 100%">
              <tbody>
                <tr>
                  <td>
                    <p id="title-text" style="font-family: Noto Sans, sans-serif; font-weight: 500; font-size: 32px; color: #2C2C2C; margin-bottom: 12px; word-break: break-word;">Thank You for Reaching Out!</p>
                  </td>
                </tr>
                <tr>
                  <td style="padding-bottom: 24px">
                    <img id="file-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHv-kM5xhOAMwvUrWV3u2EpxXoGJkHCAVYiC8biFzP4t1-yjdM" style="width: 100%; height: 145px;">
                  </td>
                </tr>
                <tr>
                  <td style="font-family: Noto Sans, sans-serif; color: #2C2C2C; font-size: 16px; font-weight: 500;">
                    <div id="greeting" style="margin-bottom: 12px;">Hi Felicia,</div>
                    <div id="field-text" style="margin-bottom: 12px; word-break: break-word;">Thank you for your inquiry. We have found units that best fit your needs. Here are a few.</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div contenteditable="false" data-block-element-type-id="5">
            <div style="width: 100%;">
              <table style=" width: 100%; background:transparent">
                <tbody>
                  <tr style="display:flex; flex-wrap:wrap;">
                    <td style="padding-right: 5px;flex:1">
                      <div style="border: 1px solid #F8F8F8; border-radius: 12px;">
                        <div style="border: 1px solid #E8E8E8; border-radius: 12px; background: #FFFFFF">
                          <div style="border: 1px solid #D2D2D2; border-radius: 12px">
                            <table style="width: 100%; border-spacing: 12px;">
                              <tbody>
                                <tr>
                                  <td colspan="2">
                                    <div style="height: 202px; width: 100%">
                                      <img style="height: 215px; width: 100%;" src="https://images.pexels.com/photos/1668860/pexels-photo-1668860.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400">
                                    </div>
                                    <div>
                                      <div style="display: inline-block; background: #F4EDFF; padding: 8px 16px; border-radius: 18px; font-size: 6px; margin: 0px 0px 0px 12px;"></div>
                                      <div style="display: inline-block; background: #F4EDFF; padding: 8px 16px; border-radius: 18px; font-size: 6px; margin: 0px 0px 0px 3px;"></div>
                                      <div style="display: inline-block; background: #F4EDFF; padding: 8px 16px; border-radius: 18px; font-size: 6px; margin: 0px 0px 0px 3px;"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span style="font-size: 18px; font-weight: 700">Plan B1</span>
                                  </td>
                                  <td>
                                    <span style="float: right; font-size: 10px; font-weight: 600;">
                                      <span style="margin-right: 10px">2 Bed | 2 Bath</span>
                                      <span>1700 SQ.FT.</span>
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a>
                                      <div style="padding: 10px 16px; border-radius: 20px; background: #2C2C2C; color: #FFFFFF; text-align: center">view</div>
                                    </a>
                                  </td>
                                  <td style="color: #673FB2; font-size: 12px; font-weight: 600">
                                    <span style="float: right;">Available 21/05/2023</span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td style="padding-left: 5px; flex:1">
                      <div style="border: 1px solid #F8F8F8; border-radius: 12px;">
                        <div style="border: 1px solid #E8E8E8; border-radius: 12px;">
                          <div style="border: 1px solid #D2D2D2; border-radius: 12px; background: #FFFFFF">
                            <table style="width: 100%; border-radius: 12px; border-spacing: 12px;">
                              <tbody>
                                <tr>
                                  <td colspan="2">
                                    <div style="height: 202px">
                                      <img style="height: 215px; width: 100%;" src="https://images.pexels.com/photos/1668860/pexels-photo-1668860.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400">
                                    </div>
                                    <div>
                                      <div style="display: inline-block; background: #F4EDFF; padding: 8px 16px; border-radius: 18px; font-size: 6px; margin: 0px 0px 0px 12px;"></div>
                                      <div style="display: inline-block; background: #F4EDFF; padding: 8px 16px; border-radius: 18px; font-size: 6px; margin: 0px 0px 0px 3px;"></div>
                                      <div style="display: inline-block; background: #F4EDFF; padding: 8px 16px; border-radius: 18px; font-size: 6px; margin: 0px 0px 0px 3px;"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span style="font-size: 18px; font-weight: 700">Plan B1</span>
                                  </td>
                                  <td>
                                    <span style="float: right; font-size: 10px; font-weight: 600;">
                                      <span style="margin-right: 10px">2 Bed | 2 Bath</span>
                                      <span>1700 SQ.FT.</span>
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a>
                                      <div style="padding: 10px 16px; border-radius: 20px; background: #2C2C2C; color: #FFFFFF; text-align: center">view</div>
                                    </a>
                                  </td>
                                  <td style="color: #673FB2; font-size: 12px; font-weight: 600">
                                    <span style="float: right;">Available 21/05/2023</span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div></div>
            </div>
          </div>
          <p class="">
            <br>
          </p>
          <div contenteditable="false" data-block-element-type-id="2">
            <div style="width: 100%; background: transparent; padding: 5px 0px 5px 0px; font-family: Noto Sans, sans-serif;">
              <p id="field-content" style="font-size: 16px; font-weight: 500; color: #2C2C2C; word-break: break-word;">Further, you can visit our website for more details. You can also use Digital Human, our interactive assistant, to answer any additional questions you may have.</p>
              <a id="field-url" style="display: block; margin-top: 36px; color: #FFFFFF; padding: 18px 20px; border-radius: 36px; background-color: #468189; text-decoration: none;" href="">
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align: middle; color: #F4EDFF;">
                        <span style="vertical-align: middle; font-weight: 700; font-size: 16px;">Property Name</span>
                        <span style="float: right; vertical-align: middle;">
                          <span style="font-weight: 700; vertical-align: middle; font-size: 16px; margin-right: 12px">Visit website</span>
                          <span>
                            <img id="arrow-icon" style="display: inline; vertical-align: middle; width: 20px; height: 18px" src="https://ci6.googleusercontent.com/proxy/1kGpFq4v_ZCDulz2-IQRs91_O1kUMRqk0Ly9J7omeEytjqelpiiVY1Crq3MAaqSRsYWF9GNP0-J_EzONrTbBM2LmvKdN3kWyNy14OMoNnWVG3RhUwb2CfqVKMcNNtVIk1-dbOryYyELw=s0-d-e1-ft#https://groww.in/wp-content/uploads/2019/03/forward-arrow-Sk9jfqM_V-e1553273773635.png">
                          </span>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
          <p class="">
            <br>
          </p>
          <div contenteditable="false" data-block-element-type-id="3">
            <div style="width: 100%; background: transparent; padding: 5px 0px 5px 0px; font-family: Noto Sans, sans-serif;">
              <p id="field-text" style="font-size: 16px; font-weight: 500; color: #2C2C2C; word-break: break-word;">We are looking forward to showing you one of our gorgeous units! Should you want to take an in-person tour, our Digital Human assistant can help you schedule one.</p>
              <a id="field-url" style="display: block; margin-top: 36px; color: #FFFFFF; padding: 18px 20px; border-radius: 36px; background-color: #468189; text-decoration: none;" href="">
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align: middle; color: #F4EDFF;">
                        <span id="title-text" style="vertical-align: middle; font-weight: 700; font-size: 16px;">Digital Human</span>
                        <span style="float: right; vertical-align: middle;">
                          <span style="font-weight: 700; vertical-align: middle; font-size: 16px; margin-right: 12px">Visit website</span>
                          <span>
                            <img id="arrow-icon" style="display: inline; vertical-align: middle; width: 20px; height: 18px" src="https://ci6.googleusercontent.com/proxy/1kGpFq4v_ZCDulz2-IQRs91_O1kUMRqk0Ly9J7omeEytjqelpiiVY1Crq3MAaqSRsYWF9GNP0-J_EzONrTbBM2LmvKdN3kWyNy14OMoNnWVG3RhUwb2CfqVKMcNNtVIk1-dbOryYyELw=s0-d-e1-ft#https://groww.in/wp-content/uploads/2019/03/forward-arrow-Sk9jfqM_V-e1553273773635.png">
                          </span>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
          <p class="">
            <br>
          </p>
          <div contenteditable="false" data-block-element-type-id="4">
            <div style="width: 100%; background: transparent; padding: 5px 0px 5px 0px; font-family: Noto Sans, sans-serif;">
              <p id="field-text" style="font-size: 16px; font-weight: 500; font-family: Noto Sans, sans-serif; color: #2C2C2C; word-break: break-word;">If you have questions, please let us know. Use this link when contacting us, so we can prioritize your message first.</p>
              <a id="tour-link-url" style="display: block; margin-top: 36px; color: #FFFFFF; padding: 18px 20px; border-radius: 36px; background-color: #468189; text-decoration: none;" href="">
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align: middle">
                        <span id="title-text" style="vertical-align: middle; font-weight: 700; font-size: 16px; color: #F4EDFF;">schedule tour</span>
                        <span style="float: right; vertical-align: middle;">
                          <span>
                            <img id="arrow-icon" style="display: inline; vertical-align: middle; width: 20px; height: 18px" src="https://ci6.googleusercontent.com/proxy/1kGpFq4v_ZCDulz2-IQRs91_O1kUMRqk0Ly9J7omeEytjqelpiiVY1Crq3MAaqSRsYWF9GNP0-J_EzONrTbBM2LmvKdN3kWyNy14OMoNnWVG3RhUwb2CfqVKMcNNtVIk1-dbOryYyELw=s0-d-e1-ft#https://groww.in/wp-content/uploads/2019/03/forward-arrow-Sk9jfqM_V-e1553273773635.png">
                          </span>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
          <p class="">
            <br>
          </p>
          <div contenteditable="false" data-block-element-type-id="4">
            <div style="width: 100%; background: transparent; padding: 5px 0px 5px 0px;">
              <div>
                <span id="salutation-text" style="font-family: Noto Sans, sans-serif; font-weight: 500; font-size: 18px; color: #2C2C2C">Respectfully,</span>
                <table>
                  <tbody>
                    <tr>
                      <td rowspan="6">
                        <img id="signature-image" style="display: inline; width: 130px" height="130px" src="https://cdn.pixabay.com/photo/2017/03/16/21/18/logo-2150297__340.png">
                      </td>
                      <td>
                        <div style="color: #3E2A62; font-size: 18px; font-weight: 700; font-family: Inter, sans-serif; padding-left: 10px;">RUBI AYALA</div>
                      </td>
                      <td></td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td>
                        <div style="font-family: Inter, sans-serif; font-size: 12px; color: #8E8E8E; font-weight: 500; padding-left: 10px;">Assistant Community Manager</div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div style="width: 130px; font-family: Inter, sans-serif; margin: 8px 0px 8px 0px; word-break: break-word; font-size: 12px; font-weight: 500; text-decoration: none; padding-left: 10px;">Portico Kirby 7550 Kirby Drive Houston, TX 77030</div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div>
                          <span style="color: #E02B00; font-weight: 600; font-family: Inter, sans-serif; padding-left: 10px;">P</span>
                          <span style="margin: 0px 0px 0px 8px; color: #8E8E8E; font-family: Inter, sans-serif; font-weight: 500; padding-left: 10px;">713.592.8886</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div>
                          <span style="color: #E02B00; font-weight: 600; font-family: Inter, sans-serif; padding-left: 10px;">E</span>
                          <span style="margin: 0px 0px 0px 8px; color: #8A5ED5; font-family: Inter, sans-serif; font-weight: 500; padding-left: 10px;">rayala@maderaresidential.com</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div style="margin: 12px 0px 0px 0px; font-size: 18px; font-family: Inter, sans-serif; font-weight: 500; color: #2C2C2C;">
                <p style="word-break: break-word;font-size: 16px;font-style: italic;">The information contained in this email is intended for the individual or entity to whom it is addressed. Its contents (including any attachments) may contain confidential and/or privileged information. If you are not the intended recipient you must not use, disclose, disseminate, copy or print its contents. If you recieved this email in error, please notify the sender by replying to the email and delete/ destroy the message. Thank you.</p>
              </div>
              <table align="center" style="border-spacing: 0px 28px; width: 100%">
                <tbody>
                  <tr>
                    <td align="center" style="text-align: center;">
                      <div style="display: inline-block; background-color: #CAD1D8; padding: 3.5px 29.2px; width: 29.2px; border-radius: 12px"></div>
                      <br>
                      <div style="display: inline-block; background-color: #CAD1D8; padding: 3.5px 19.2px; width: 19.2px; border-radius: 12px; margin-top: 8px"></div>
                    </td>
                  </tr>
                  <tr id="social-media-icons">
                    <td align="center" style="text-align: center; display: block">
                      <a style="display: inline-block;">
                        <img src="https://cdn.freebiesupply.com/logos/large/2x/twitter-3-logo-png-transparent.png" style="width: 30.6px; border-radius: 20px">
                      </a>
                      <a style="display: inline-block;">
                        <img src="https://www.pngkit.com/png/detail/0-4506_facebook-logo-png-transparent-facebook-icon-small-png.png" style="width: 30.6px; border-radius: 20px; margin: 0px 8px 0px 8px;">
                      </a>
                      <a style="display: inline-block;">
                        <img src="https://www.freepnglogos.com/uploads/pinterest-logos-vector-png-hd-14.png" style="width: 30.6px; border-radius:20px">
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p class="">
            <br>
          </p>

          <p class="">
            <br>
          </p>
          <div contenteditable="false" data-block-element-type-id="6">
            <div style="width: 100%; background: transparent; padding: 5px 0px 5px 0px; font-family: Noto Sans, sans-serif;">
              <p id="field-text" style="font-size: 16px; font-weight: 500; color: #2C2C2C; word-break: break-word">If you have questions, please let us know. Use this link when contacting us, so we can prioritize your message first.</p>
              <a id="document-url" style="display: block; margin-top: 36px; color: #FFFFFF; padding: 18px 20px; border-radius: 36px; background-color: #468189; text-decoration: none;" href="">
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align: middle; color: #F4EDFF;">
                        <span id="button-text" style="vertical-align: middle; font-weight: 700; font-size: 16px">E-Signature Request</span>
                        <span style="float: right; vertical-align: middle;">
                          <span>
                            <img style="display: inline; vertical-align: middle; width: 20px; height: 18px" src="https://ci6.googleusercontent.com/proxy/1kGpFq4v_ZCDulz2-IQRs91_O1kUMRqk0Ly9J7omeEytjqelpiiVY1Crq3MAaqSRsYWF9GNP0-J_EzONrTbBM2LmvKdN3kWyNy14OMoNnWVG3RhUwb2CfqVKMcNNtVIk1-dbOryYyELw=s0-d-e1-ft#https://groww.in/wp-content/uploads/2019/03/forward-arrow-Sk9jfqM_V-e1553273773635.png">
                          </span>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
          <p>
            <br>
          </p>
          <!--END MAIN CONTENT AREA-->
        </td>
      </tr>
      <tr>
        <td id="template-footer">
          <!--START FOOTER CONTENT AREA-->
          <table id="template-footer" data-v-06f94ef9="" style="table-layout: fixed; padding: 16px; background-color: rgb(16, 93, 145); width: 100%; font-size: 12px; color: rgb(255, 255, 255);">
            <tbody>
              <tr data-v-06f94ef9="">
                <td data-v-06f94ef9="" style="text-align: left;">
                  <!--v-if-->
                </td>
                <td colspan="1" data-v-06f94ef9="" style="text-align: right;"></td>
              </tr>
              <tr data-v-06f94ef9="">
                <td data-v-06f94ef9="" style="text-align: left; font-weight: 700;"> View in Browser </td>
                <td colspan="1" data-v-06f94ef9="" style="text-align: right;">
                  <!--v-if-->
                  <div data-v-06f94ef9="">Opt Out / Unsubscribe</div>
                </td>
              </tr>
            </tbody>
          </table>
          <!--END FOOTER CONTENT AREA-->
        </td>
      </tr>
    </table>
  </body>
</html>